@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

/* -- ----------------------section_hero------------------------- */

.section_hero {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(2, 96, 184, 0.541), rgba(0, 25, 107, 0.548)),
        url(/imagenes_protesis/bg_SectionHero.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.contenedor_hero {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.texto_ppl {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-shadow: 7px 1px 5px rgba(0, 0, 0, 0.671);
    padding: 100px 0px 15px 0px;
}

.texto_subtitulo {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-shadow: 7px 1px 5px rgba(0, 0, 0, 0.671);
    padding-bottom: 30px;
}

.enlace_boton_cta{
    text-decoration: none;
}

.contenedor_boton_cta {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    background-color: #ff5956;
    border-style: solid;
    border-width: 1px;
    border-color: #E6EEF2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
}

.texto_boton_cta {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}


/* -- ----------------------section_1------------------------- */

.section1 {
    width: 100%;
    height: 100%;
    padding: 30px 0px;
}

.contenedor_section1 {
    width: 90%;
    margin: 0 auto;
}

.titulo_section1 {
    font-size: 30px;
    font-weight: 700;
    color: #233142;
    line-height: 38px;
    padding-bottom: 20px;
}

.parrafo_section1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #4c4c4c;
}

.imagen_section1 {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 25px;
}

/* -- ----------------------section_2------------------------- */

.section2 {
    width: 100%;
    height: 100%;
    padding: 20px 0px;
}

.contenedor_section2 {
    width: 90%;
    margin: 0 auto;
}

.titulo_section2 {
    font-size: 40px;
    font-weight: 700;
    color: #233142;
    line-height: 45px;
    padding: 0px 0px 20px 0px;
}

.parrafo_section2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    color: #4c4c4c;
    padding-bottom: 10px;
}

.contenedor_ul_section2 {
    width: 100%;
    padding: 10px 0px;
}

.contenedor_ul_section2 ul {
    list-style: none;
}

.contenedor_elementos_lista_section2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
}

.icono_section2 img {
    vertical-align: middle;
    padding-right: 16px;
}

.texto_lista_section2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #1c1d1f;
}

/* -- ----------------------section_3------------------------- */

.section3 {
    width: 100%;
    height: 100%;
    background-color: #e4f4ffc2;
    padding: 20px 0px;
}

.contenedor_section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont_conteo {
    width: 50%;
    margin: 20px;
    border: 1px solid #1c1d1f5e;;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.titulo_conteo {
    font-size: 20px;
    font-weight: 400;
    color: #233142;
}

.numero_conteo {
    font-size: 50px;
    font-weight: 400;
    color: #233142;
    padding: 15px;
}

.subtitulo_conteo{
    font-size: 20px;
    font-weight: 400;
    color: #233142;
}

/* -- ----------------------section_4------------------------- */

.section4{
    width: 100%;
    background-color: #daeaf1;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenedor_section4{
    width: 90%;
    padding: 30px 0px;
}

.titulo_sec4{
    font-size: 40px;
    font-weight: 700;
    color: #233142;
    line-height: 38px;
    padding-bottom: 20px;
}

.subtitulo_sec4{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #4c4c4c;
    padding-bottom: 15px;
}

.imagen_section4{
    display: block;
    margin: 0 auto;
    width: 70%;
    padding: 20px 0px;
}

.icono_testi::before{
    content: url(/imagenes_protesis/icono\ testimonio.svg);
    display: block;
    border: 2px solid #233142;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 3px;
    margin: 0 auto;
}


/* -----------------------section5-------------------- */

.section5{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_section5{
    text-align: center;
    width: 100%;
    background-color: #2D2D2D;
    padding: 50px 20px;
}

.titulo_sec5{
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    color: #fff;
    padding-bottom: 10px;
}

.subtitulo_sec5{
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    color: #fff;
}

/* ---------------------section6-------------- */
.section6{
    width: 100%;
    background-color: #a5d9e09f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_section6{
    width: 90%;
    padding: 30px 0px;
}

.cont_texto_sec6{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 15px 0px;
}

.contenedor_testimonios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0px;
}

.titulo_sec6{
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    color: #233142;
}

.imagen_sec6{
    width: 80%;
}

.imagen6{
    width: 100%;
}

/* -----------------------section7------------------ */

.section7{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_section7{
    width: 90%;
    padding: 30px 0px;
    text-align: center;
}

.titulo_section7{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #233142;
    padding: 0px 30px 30px 30px;
}

.contenedor_imagenes_sec7{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.imagen_sec7{
    margin: 0 auto;
    display: block;
    width: 120px;
}

/* -----------------------footer------------------ */
footer {
    width: 100%;
    background: #1C1D1F;
    padding: 20px 0;
    text-align: center;
}

.container_footer{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0px;
}

.text-footer {
    color: #d1d7dc;
    font-size: 10px;
    line-height: 20px;
}

.text-copyright {
    font-size: 14px;
    line-height: 22px;
    color: #d1d7dc;
    text-decoration: none;
}

/* ------------------------------boton_wp---------------------------- */
.container__botonw{
    background-color: #24CC63;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 15px;
    transition: ease 0.3s;
    animation: efectoBotonW 1.2s infinite;
}

.container__botonw:hover{
    transform: scale(1.1);
    transition: .3s;
}

.botonwp{
    color: #fff;
    font-size: 40px;
    transition: ease 1s;
}


@keyframes efectoBotonW{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);

    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);

    }
}

/* ------------------------------media-querys---------------------------- */

@media (max-width: 450px){

    
    .texto_ppl {
        font-size: 30px;
    }

    .section2 {
        padding: 5px 0px;
    }    
    
    .titulo_section2 {
        font-size: 30px;
        line-height: 35px;
    }
    
    .parrafo_section2 {
        font-size: 23px;
    }

    .cont_conteo {
        width: 80%;
    }
    
    .titulo_sec4{
        font-size: 30px;
        line-height: 35px;
    }
    
    .subtitulo_sec4{
        line-height: 25px;
    }
    
    .imagen_section4{
        width: 100%;
    }

    .contenedor_section5{
        padding: 50px 10px;
    }
    
    .titulo_sec5{
        font-size: 27px;
        line-height: 40px;

    }
    
    .subtitulo_sec5{
        font-size: 18px;
        line-height: 30px;
    }

    .contenedor_section6{
        width: 90%;
        padding: 30px 0px;
    }
    
    .cont_texto_sec6{
        width: 100%;
    }
        
    .titulo_sec6{
        line-height: 40px;
    }
    
    .imagen_sec6{
        width: 100%;
    }

    .titulo_section7{
        padding: 0px 5px 30px 5px;
    }
    
    .contenedor_imagenes_sec7{
        flex-direction: column;
    }
    
    .imagen_sec7{
        width: 70%;
    }
       
}





